.hole {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #000;
}
.key {
    position: absolute;
    width: 25px;
    height: 15px;
    border-radius: 40%;
    background: #fff;
    border: 3px solid #000;
    margin-bottom: 3px;
}
.state-closed {
    background: #000;
}
.state-half {
    background: linear-gradient(-45deg, black, black 50%, white 50%, white);
}
.state-trill {
    background: PowderBlue;
}
.fingering {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px dashed;
    border-bottom: 1px dashed;
}
.column {
    float: left;
    width: 100px;
    height: 120px;
    position: relative;
    margin: 10px;
}
.hand {
    clear: left;
}

/* left thumb bass */
.low-c {
    top: 5px;
    left: 10px;
    width: 12px;
    height: 24px;
    border-radius: 24px 0 0 24px;
}
.low-b {
    left: 25px;
    width: 12px;
    height: 25px;
}
.low-b♭ {
    left: 40px;
    width: 12px;
    height: 25px;
}
.low-d {
    top: 32px;
    left: 15px;
    width: 15px;
    height: 50px;
    border-radius: 10px 10px 50% 50%;
}
/* left thumb octave keys */
.top-d, .top-c, .tuning-a, .c♯, .whisper {
    left: 70px;
}
.top-c    { top: 20px; }
.tuning-a { top: 40px; }
.c♯  { top: 60px; }
.whisper  { top: 80px; }

/* left fingers */
.hole1, .hole2, .hole3 {left: 20px;}
.hole1 {}
.hole2 { top: 40px; }
.hole3 { top: 80px; }
.low-e♭, .low-c♯ {
    left: 50px;
}
.low-e♭  { top: 100px;}
.low-c♯ { top: 120px;}

/* right thumb */
.b♭, .pancake, .f♯, .thumb-a♭ { left: 70px; }
.b♭ {}
.pancake {
    top: 20px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.f♯      { top: 50px; }
.thumb-a♭ { top: 70px; }
/* right fingers */
.hole4, .hole5 {left: 20px;}
.hole5 { top: 40px; }
.g { top: 80px; left: 15px; width: 30px; height:15px; border-radius: 50% }
.f { top:100px; left: 10px; border-radius: 0}
.pinkie-f♯ {top:100px; left:40px; width: 10px; border-radius: 0}
.a♭ {top:120px; left: 20px; width: 25px; border-radius: 0 0 40% 40%;}
