body {
    padding: 0;
    margin: 0;
}

header {
    background: blue;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 30px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

#fingering {
    display: flex;
    width: 80%;
}

#note {
    display: inline;
    width: 80%;
    padding: 10px;
}

button {
    display: flex;
    -webkit-appearance: none;
    width: 100%;
}

.fingering-button {
    height: 431px;
}

.half-button {
    height: 70px;
}

nav { width: 10%; display: flex; }

