@charset "utf-8";

body {
    padding: 0;
    margin: 0;
}

main {
    padding: 0 20px;
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

.fingering {
    display: flex;
    width: 80%;
    height: 350px;
}

.note {
    display: inline;
    width: 100%;
    height: 120px;
}

button {
    display: flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    background: #88f;
    color: #fff;
}

button:disabled {
    background: #ddf;
}

.fingering-button {
    height: 350px;
}

nav { width: 10%; display: flex; }

footer {
    margin: 0;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

.social {
    width: 14px;
    height: 14px;
}
